@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

body {
	max-width: 95vw;
}

/* Make the stuff all float to the left. Then apply a margin to it to make it seems center for screens lest the max width */

* {
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
}

a, a:link, a:visited, a:hover, a:active {
	color: #7b7b7b;
	text-decoration: none;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
		". title ."
		"pic nav-bar contact-me"
		"pic about-me contact-me"
		"pic skill-set contact-me"
		". projects ."
		". footer .";
}

mark { 
    font-family: 'Courier New';
    background-color: lightgrey;
    color: black;
}

.title {
	font-size: 1.6em;
	grid-area: title;
	margin: auto;
	margin-top: 2.4em;
	margin-bottom: 0.5em;
	color: #0000FF;
}


img {
    grid-area: pic;
    max-width: 100%;
    max-height: 100%;
}

.contact-me {
	grid-area: contact-me;
	margin-bottom: 2em;
}

.nav-bar {
	grid-area: nav-bar;
	margin: auto;
	margin-top: 0px;
	overflow: initial;
}

.about-me {
	grid-area: about-me;
	margin-top: 0.5em;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.test {
    background-color: lightgrey;
    margin: 20px;
}

.skill-set { grid-area: skill-set; }
.projects { grid-area: projects; }

.projects > a {
	color: #bbb; /* Change the color to a darker shade */
}

.footer {
	grid-area: footer;
	margin-left: 3em;
}

/* Overwrite all changes that you dont want! */
@media screen and (max-width: 70em) {
	/* Resize image and Resize to 2 columns */
	img { max-width: 60%; }
	.grid-container {
		grid-template-columns: auto auto;
		grid-template-areas:
			"title ."
			"nav-bar contact-me"
			"about-me contact-me"
			"skill-set pic"
			"projects ."
			"footer .";
	}
}

@media screen and (max-width: 58em) {
	/* Hide image and contact-me icons. Resize to 1 column */
	/*img, .contact-me { display: none; }*/
    img { max-width: 60%; }
	.grid-container {
		grid-template-columns: auto;
		grid-template-areas:
		"title"
		"nav-bar"
		"about-me"
		"skill-set"
        "test"
		"projects"
		"footer";
	}
}

/* 
background:
	linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
	linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
	linear-gradient(to right, #d89ca4, #e27b7e);
	background-color: #de7e85; */